.app-root-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.fz-app-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.fz-display-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
}

.fz-main-menu-button {
  border-radius: 0px !important;
}

.fz-main-menu-button.active {
  color: #E9BC47 !important;
}

.fz-main-menu {
  background-color: #454545;
  display: flex;
  justify-content: flex-start;
  padding: 5px 0px 5px 0px;
}

.fz-filter-dropdown {
  background-color: #8A8B8B !important;
  border-radius: 0px !important;
}

.fz-filter-dropdown-container {
  width: 30%;
}

.fz-toggle-transcription-mode-button {
  position: relative;
  padding: 10px;
}

.fz-toggle-transcription-mode-button label {
  color: #fff !important;
}

.fz-text-view {
  /*position: relative;
  width: 90%;
  height: 80%;
  flex: 1;
  background: none;
  /*background-color: #1D1D1D;*/
  /*border-left: 2px solid #333;*/
  /*top: 5%;*/
}

.fz-text-display {
  color: #fff;
  /*width: 90%;
  height: 90%;
  position: relative;
  margin: 0 auto;
  top: 5%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  /*font-size: 20px;*/
  /*overflow: auto;*/
  transform-origin: center;
  transition: transform 1s ease-in-out;
}

.fz-text-display.zero {
  transform: rotate(0deg);
}

.fz-text-display.fortyfive {
  transform: rotate(45deg);
}

.fz-text-display.ninety {
  transform: rotate(90deg);
}

.fz-text-display.onethirtyfive {
  transform: rotate(135deg);
}

.fz-text-display.oneeighty {
  transform: rotate(180deg);
}

.fz-text-display.twotwentyfive {
  transform: rotate(225deg);
}

.fz-text-display.twoseventy {
  transform: rotate(270deg);
}

.fz-text-display.threefifteen {
  transform: rotate(315deg);
}

.fz-text-display.threesixty {
  transform: rotate(0deg);
}

.fz-text-display-zone {

}

.fz-text-display-zone.left {

}

.fz-text-display-zone.right {

}

.fz-text-display-zone.head {

}

.fz-text-display-zone.body {
  /*transform: translateY(-40%);*/
}

.fz-text-display-zone.foot {

}

/** Stages **/
.fz-text-display-line-group {
  position: relative;
  display: block;
}

.fz-text-line-container {
  display: inline;
}

.fz-text-line-indent {
  display: inline;
}

.fz-text-display-line.stages {
  position: relative;
  padding-bottom: 2px;
  cursor: pointer;
}

.fz-text-display-line.stages:hover {
  opacity: 0.9;
}

.fz-text-display-stage {
  position: relative;
  display: block;
}

.fz-text-display-stage.one.collapsed {
  position: relative;
}

.fz-text-display-stage.two.collapsed {
  position: absolute;
  transform: translateY(-100%);
  transition: transform 1s ease-in-out;
}

.fz-text-display-stage.three.collapsed {
  position: absolute;
  transform: translateY(-100%);
  transition: transform 1s ease-in-out;
}

.fz-text-display-stage.two.expanded {
  position: relative;
  transform: translateY(0%);
  transition: transform 1s ease-in-out;
}

.fz-text-display-stage.three.expanded {
  position: relative;
  transform: translateY(0%);
  transition: transform 1s ease-in-out;
}

.fz-text-display-line-stages-container {
  display: flex;
}

.fz-text-display-line {
  /*font-size: 0.9vw;*/
}

.fz-text-display-line span {

}

/*** Columns ***/
.fz-text-display-zone-columns {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.fz-text-display-zone-columns.vertical {
  flex-direction: column;
}

/*** VSPACE ***/
.vspace-line {
  height: 1.25vh;
}
