.app-root-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.fz-app-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.fz-display-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
}

.fz-main-menu-button {
  border-radius: 0px !important;
}

.fz-main-menu-button.active {
  color: #E9BC47 !important;
}

.fz-main-menu {
  background-color: #454545;
  display: flex;
  justify-content: flex-start;
  padding-bottom: 5px;
}

.fz-filter-dropdown {
  background-color: #8A8B8B !important;
  border-radius: 0px !important;
}

.fz-filter-dropdown-container {
  width: 30%;
}

.fz-toggle-transcription-mode-button.label:before {
  background-color: #E9BC47 !important;
}

.fz-text-view {
  position: relative;
  width: 90%;
  height: 80%;
  flex: 1;
  background-color: #1D1D1D;
  border-left: 2px solid #333;
  top: 5%;
}

.fz-text-display {
  color: #fff;
  width: 100%;
  height: 80%;
  position: relative;
  margin: 0 auto;
  top: 10%;
  padding: 5px;
}

.fz-text-display-zone {
  position: relative;
  display: flex;
}

.fz-text-display-zone.left {
  float: left;
}

.fz-text-display-zone.right {
  float: right;
}

.fz-text-display-zone.head {
  top: 0px;
}

.fz-text-display-zone.body {

}
