.app-root-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.fz-app-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.fz-display-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
}

.fz-main-menu-button {
  border-radius: 0px !important;
}

.fz-main-menu-button.active {
  color: #E9BC47 !important;
}

.fz-main-menu {
  background-color: #454545;
  display: flex;
  justify-content: flex-start;
  padding-bottom: 5px;
}

.fz-filter-dropdown {
  background-color: #8A8B8B !important;
  border-radius: 0px !important;
}

.fz-filter-dropdown-container {
  width: 30%;
}

.fz-text-view {
  position: relative;
  width: 100%;
  height: 100%;
  flex: 1;
  background-color: #1D1D1D;
}

.fz-text-display {
  color: #fff;
  width: 80%;
  height: 80%;
  position: relative;
  margin: 0 auto;
  top: 10%;
}
